/* * { border: 1px solid red;} */

body { 
    background-image: linear-gradient(to right, #d5cad1, #e4d9e0);
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Nabla', cursive;
}


a {
    color: white;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 1rem;
    text-align: center;
    color: rgb(75, 72, 72);
}


header, main, footer {
    padding: 1rem;
}

header {
    height: 80px;
    background-color: rgb(33, 180, 185);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    /* border-bottom: 20px solid rgb(41, 39, 39); */
    box-shadow: 4px 8px black;
    position: sticky;
    top: 0;
    z-index: 1;
}


footer {
    height: 40px;
    background-color: rgb(255,255,255,.3);
    padding: 0 1.5rem;
    color: rgb(50, 47, 47);
    position: bottom;
}


.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-options {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

.homepage-big-link {
    width: auto;
    border: 2px solid rgb(16, 15, 15);
    padding: .5rem 1rem;
    background-color: rgb(255,255,255,.6);
    height: auto;
    color: rgb(26, 25, 25);
    text-align: center;
    box-shadow: 3px 3px black;
}

.readlist-intro-p, .typewriter {
    grid-column: span 2;
    text-align: center;
    margin-bottom: 0;
}

.my-readlist-link {
    grid-column: span 2;
    background-color: rgb(204, 90, 147);
    color: white

}


.nav-icon {
    padding: .5rem;
    font-size: 1.25rem;
    color: rgb(41, 37, 37)
}

.article-page {
    display:flex;
    flex-direction: column;
    align-items: center;
}


.article-card-header {
    display: flex;
    flex-direction: column;;
    align-items: center;
}

.article-card-big {
    background-color: rgb(255, 255, 255);
    padding: 0.2rem 1.5rem;
    border: 2px solid black;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
    box-shadow: 6px 6px black;
    opacity: .9;
    padding-top: 1rem;
    
    
}

.article-card-big-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vote-button, .comment-button {
    border: none;
    font-size: 1.5rem;
    color: grey;
    background: none;
}

.vote-button-red {
    
        border: none;
        font-size: 1.5rem;
        color: rgb(255, 0, 0);
        background: none;
    
}


.votes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
}


.new-comment {
    width: 100%;
    margin: 0 auto;
}

.comment-form {
    display: flex;
    flex-direction: column;

}

.articles-list-main {
    display: flex;
    flex-direction: column;
}


.article-card-small {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 0;
    background-color: rgb(255, 255, 255);
    padding: 0.4rem 0 0.4rem 1rem;
    border: 2px solid black;
    text-align: left;
    box-shadow: 4px 4px black;
    opacity: .9;
}

.article-card-small > a {
    color: rgb(27, 25, 25);
}

.article-preview-title {
    font-size: 1rem;
}

.article-card-small-stats {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 .1rem;
    }

.article-preview-icon, .article-preview-icon-faved {
    font-size: 1rem;
    background: none;
    border: none;
    margin: 0 .2rem;
    color: rgb(148, 137, 137);
    

}

.icon-big {

        border-left: 2px solid rgb(58, 56, 56);
        height: inherit;
        color: rgb(63, 59, 59);

}

.article-preview-icon-faved {
    color: rgb(245, 176, 15);
}



.comments-article-preview, .likes-article-preview {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comments-article-preview p {
    margin: 0;
}

.likes-article-preview p {
    margin:  0;
}

.article-card-small-controls {
    display:flex;
    flex-direction: row;;
}


.filter-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .5rem auto;
}

.topic-bar-option, .topic-bar-selected, .topic-bar-selected-right, .topic-bar-option-right{
    border: 2px solid black;
    background-color:grey;
    margin-right: .5rem;
    padding: .1rem .4rem;

}

.topic-bar-selected {
    background-color: rgb(231, 221, 229);
    box-shadow: 2px 2px black;
    color: rgb(56, 53, 53);
}

.topic-bar-option-right, .topic-bar-selected-right {
    margin-right: 0;
}

.filter-by {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    background-color: rgb(231, 221, 229);
    box-shadow: 2px 2px black;
    color: rgb(56, 53, 53);
    border: 2px solid black;
    margin: 1rem 0 .3rem 0;
    padding: .2rem;
    
}

    
    select {

    margin: 0 1rem 0 .2rem;
    
}





textarea {
    width: 100%;
    background-color: rgb(235, 230, 224);
    border: none;
    height: 70px
}



.comment-card-user, .comment-card {
    margin: .5rem auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 100%

}




.user, .owner {
    width: 15%;
    display: flex;
    flex-direction: column;
    height:fit-content;
    align-items: center;
    margin-top: 1rem;
    float: left;
    margin-right: 1rem;
    margin-bottom: 0;

}

.owner {
    float: right;
    margin-right: 0;
    margin-left: 1rem;
}

.username {
    font-size: .6rem;
}

.username-signature {
    text-align: right;
    color: grey;
}

.user-stats {
    display: flex;
    flex-direction: row;
    font-size: .8rem;
    margin-top: -.5rem;
    color: black
}

.vote-button-user {
    border: none;
    color: black;
    background: none;
}

.small-user-img {
    width: 40px;
}

.comment-bubble, .comment-bubble-owner {
    background-color: white;
    padding: 0.5rem 1rem;
    font-size: .9rem;
    width: 90%;
    border: 2px solid black;
    opacity: .9;
    box-shadow: 6px 6px white;
}

.comment-bubble-owner {
    text-align: right;
}


.article-list-page {
    padding-top: 1rem;
}

.line {
    width: 50%;
    border: 1px solid rgb(36, 35, 35);
    margin: 0 10px;
}


.readlist-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.readlist-intro {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgb(255,255,255,.3);
    padding: 1rem;
    margin-bottom: 1.5rem;
    margin-top: .5rem;
}

.read-list-read {
    margin-bottom: 1.5rem;
}



.error-box {
    
    background-color: rgb(255, 255, 255, .9);
    border: 2px solid black;
    align-items: center;
    text-align: center;
    box-shadow: 6px 6px black;
    width: auto;
    opacity: .9;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    
}

.error-box > a {
    color: rgb(210, 35, 35);
}

.error-box-button {
    box-shadow: 4px 4px black;
    border: 2px solid black;
    padding: .5rem;
    margin-top: 1rem;
    background-color: #e4d9e0;
}







@media screen and (min-width: 700px) {

    textarea {
        height: 100px;
    }

    .article-filter-settings {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .4rem -0;
    
    
    }


.article-filter-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .4rem -0;


}

.filter-bar {
    justify-content: flex-start;
    width: 50%;
}

.filter-by {
    width: 50%;
    margin: 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    max-width: 1200px;
    margin: 0 auto;

}

.comment-bubble {
    width: 95%;
    margin: 0 auto;
}

.owner, .user {
    width: 3rem;
}


.home-page {
    max-width: 600px;



}



.error-box {
    
    max-width: 450px;
}

.readlist-intro {
margin-top: 1rem;
}

}