/* * { border: 1px solid red;} */

body { 
    background-image: linear-gradient(to right, #df359b, #ea56af);
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Nabla', cursive;
}


a {
    color: white;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}


header, main, footer {
    padding: 1rem;
}

header {
    height: 80px;
    background-color: rgb(41, 42, 39);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 4px solid white;
}

header { 
    position: sticky;
    top: 0;
}

.nav-icon {
    padding: .5rem;
    font-size: 1.25rem;
    color: rgb(220, 209, 209)
}

.article-page {
    display:flex;
    flex-direction: column;
    align-items: center;
}


.article-card-header {
    display: flex;
    flex-direction: column;;
    align-items: center;
}

.article-card-big {
    background-color: rgb(244, 242, 239);
    padding: 0.2rem 1.5rem;
    border: 2px solid black;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
    
}

.article-card-big-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vote-button, .comment-button {
    border: none;
    font-size: 1.5rem;
    color: grey;
    background: none;
}

.vote-button-red {
    
        border: none;
        font-size: 1.5rem;
        color: rgb(255, 0, 0);
        background: none;
    
}


.votes {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
}


textarea {
    width: 100%;
    margin: 0 auto;
}

/*  */

.comment-card {
    margin: .5rem auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.user {
    width: 15%;
    display: flex;
    flex-direction: column;
    height:fit-content;
    align-items: center;
    margin-top: 1rem;

}

.username {
    font-size: .6rem;
}

.username-signature {
    text-align: right;
    color: grey;
}

.user-stats {
    display: flex;
    flex-direction: row;
    font-size: .8rem;
    margin-top: -.5rem;
    color: white;
}

.vote-button-user {
    border: none;
    color: white;
    background: none;
}

.small-user-img {
    width: 40px;
}

.comment-bubble {
    background-color: white;
    padding: 0.5rem 1rem;
    font-size: .9rem;
    width: 75%;

}




.comment-card-user, .comment-card {
    display: flex;
    flex: row;
}








@media screen and (min-width: 700px) {

    header, main, footer {
        padding: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    body {
        font-size: 18px;
        background-image: none;
        background-color:rgb(215, 207, 207);

    }

    h1 {
        font-size: 4rem;;
    }

    main {
        background-image: linear-gradient(to right, #df359b, #ea56af);
        box-shadow: 0 0 80px 1px rgba(37, 35, 37, 0.6)
    }


    .article-card-header {
        padding: 1.5rem;
        display: block;
        text-align: center;

    }

    .article-card-big-body {
        border-top: 2px solid rgb(197, 190, 190);
        border-bottom: 2px solid rgb(197, 190, 190);
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 0;
    }


    .votes {
        padding: 0 20px;
    }




}